h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#footer {
    margin-top: 100px;
    text-align: center;
    font-size: 10pt;
}

#footer a {
    text-decoration: none;
}

table#bittable {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border-collapse: collapse;
    border: none;
    outline: none;
    margin-top: 40px;
    
}

table#bittable td.bitcount {
    font-size: 8pt;
    vertical-align: top;
    text-align: right;
    padding: 0px 0px 0px 0px;
    margin: none;
}

table#bittable td.bit {
    font-size: 20pt;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: none;
    cursor: pointer;
    font-family: "Courier New", Courier, monospace;
}

table#bittable td#bit08 {
    border-right: 1px dashed black;
}

table#bittable td#bit16 {
    border-right: 1px dashed black;
}

table#bittable td#bit24 {
    border-right: 1px dashed black;
}

div.inputs {
    text-align: center;
    margin-top: 50px;
}

span.input {
    display: inline-block;
}

span.hex {
    margin-right: 40px;
}

span.dec {
    margin-right: 40px;
}

span.bin {
}

span.input input {
    font-family: "Courier New", Courier, monospace;
}

span.hex input {
    width: 150px;
    background: white;
    border: 1px solid black;
}

span.dec input {
    width: 150px;
    background: white;
    border: 1px solid black;
}

span.bin input {
    width: 300px;
    background: white;
    border: 1px solid black;
}

div.operations {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;    
    width: 850px;
    text-align: right;   
}

div.operations input {
    background: white;
    border: 1px solid black;
    width: 80px;
    height: 30px;
    font-size: 15pt;
}